.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.example-full-width {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
